html,
body,
#app{
        height: 100%;
        margin: 0;
        padding: 0;
        min-width: 1366px;
        /* 角色列表P82 16 展开列的箭头会换行  所以设置最小宽度1366px 最小的苹果屏幕 */
}
.el-breadcrumb{
        margin-bottom: 15px;
        font-size: 12px;
}
.el-card{
        box-shadow: 0 1px 1px rgba(0, 0, 0,0.15) !important;
}
.el-table{
        margin-top: 15px;
        font-size: 12px;
}
.el-pagination{
        margin-top: 15px;
      }